p {
    background-color:white;
    font-family: "Lucida Console", Courier, monospace;
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    border-radius: 30px;
    margin: 10px;
    padding: 1em;
    text-align: center;
}

h2 {
    color:rebeccapurple;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: red;
}

.myCoolStyle {
    color: brown;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    font-size: 3em;
}

.centerButton{
    text-align: center;
    align-items: center;
}

div {
    background-color: red;
    padding: 0;
    border: 1px solid black;
    margin: 0;
    border-radius: 30px;
    max-width: 250px;
}
